In [1]:
import pandas as pd

In [2]:
data= pd.read_csv("city_day.csv")
data.head()

,City,Date,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,O3,Benzene,Toluene,Xylene,AQI,AQI_Bucket
0,Ahmedabad,2015-01-01,NaN,NaN,0.92,18.22,17.15,NaN,0.92,27.64,133.36,0.00,0.02,0.00,NaN,NaN
1,Ahmedabad,2015-01-02,NaN,NaN,0.97,15.69,16.46,NaN,0.97,24.55,34.06,3.68,5.50,3.77,NaN,NaN
2,Ahmedabad,2015-01-03,NaN,NaN,17.40,19.30,29.70,NaN,17.40,29.07,30.70,6.80,16.40,2.25,NaN,NaN
3,Ahmedabad,2015-01-04,NaN,NaN,1.70,18.48,17.97,NaN,1.70,18.59,36.08,4.43,10.14,1.00,NaN,NaN
4,Ahmedabad,2015-01-05,NaN,NaN,22.10,21.42,37.76,NaN,22.10,39.33,39.31,7.01,18.89,2.78,NaN,NaN

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29531 entries, 0 to 29530
Data columns (total 16 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   City        29531 non-null  object
 1   Date        29531 non-null  object
 2   PM2.5       24933 non-null  float64
 3   PM10        18391 non-null  float64
 4   NO          25949 non-null  float64
 5   NO2         25946 non-null  float64
 6   NOx         25346 non-null  float64
 7   NH3         19203 non-null  float64
 8   CO          27472 non-null  float64
 9   SO2         25677 non-null  float64
 10  O3          25509 non-null  float64
 11  Benzene     23908 non-null  float64
 12  Toluene     21490 non-null  float64
 13  Xylene      11422 non-null  float64
 14  AQI         24850 non-null  float64
 15  AQI_Bucket  24850 non-null  object
dtypes: float64(13), object(3)
memory usage: 3.6+ MB

In [4]:
data.describe()

,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,O3,Benzene,Toluene,Xylene,AQI
count,24933.000000,18391.000000,25949.000000,25946.000000,25346.000000,19203.000000,27472.000000,25677.000000,25509.000000,23908.000000,21490.000000,11422.000000,24850.000000
mean,67.450578,118.127103,17.574730,28.560659,32.309123,23.483476,2.248598,14.531977,34.491430,3.280840,8.700972,3.070128,166.463581
std,64.661449,90.605110,22.785846,24.474746,31.646011,25.684275,6.962884,18.133775,21.694928,15.811136,19.969164,6.323247,140.696585
min,0.040000,0.010000,0.020000,0.010000,0.000000,0.010000,0.000000,0.010000,0.010000,0.000000,0.000000,0.000000,13.000000
25%,28.820000,56.255000,5.630000,11.750000,12.820000,8.580000,0.510000,5.670000,18.860000,0.120000,0.600000,0.140000,81.000000
50%,48.570000,95.680000,9.890000,21.690000,23.520000,15.850000,0.890000,9.160000,30.840000,1.070000,2.970000,0.980000,118.000000
75%,80.590000,149.745000,19.950000,37.620000,40.127500,30.020000,1.450000,15.220000,45.570000,3.080000,9.150000,3.350000,208.000000
max,949.990000,1000.000000,390.680000,362.210000,467.630000,352.890000,175.810000,193.860000,257.730000,455.030000,454.850000,170.370000,2049.000000

In [5]:
# Function to Extract Monthly AQI Data for a Specific Year
def extract_monthly_aqi(data, year):
    if 'Date' not in data.columns or 'AQI' not in data.columns:
        raise ValueError("Dataset must contain 'Date' and 'AQI' columns.")
    data['Date'] = pd.to_datetime(data['Date'])
    yearly_data = data[data['Date'].dt.year == year]
    monthly_aqi = yearly_data.groupby(yearly_data['Date'].dt.month)['AQI'].mean()
    return monthly_aqi

# Example Usage
monthly_aqi_2020 = extract_monthly_aqi(data, 2020)
print("Monthly AQI for 2020:")
print(monthly_aqi_2020)

Monthly AQI for 2020:
Date
1    168.486563
2    158.036466
3    110.177267
4     86.718056
5     87.446292
6     76.214674
7     72.500000
Name: AQI, dtype: float64

In [6]:
# Clean and structure data by removing unnecessary columns.
# Convert 'Date' to datetime format 
data['Date'] = pd.to_datetime(data['Date'], errors='coerce')

In [7]:
# Checking for null values in each column
data.isnull().sum()

City              0
Date              0
PM2.5          4598
PM10          11140
NO             3582
NO2            3585
NOx            4185
NH3           10328
CO             2059
SO2            3854
O3             4022
Benzene        5623
Toluene        8041
Xylene        18109
AQI            4681
AQI_Bucket     4681
dtype: int64

In [8]:
data.shape

(29531, 16)

In [9]:
# Fill missing values (simple strategy: fill with mean)
data.fillna(data.mean(numeric_only=True), inplace=True)

In [10]:
data.isnull().sum()

City             0
Date             0
PM2.5            0
PM10             0
NO               0
NO2              0
NOx              0
NH3              0
CO               0
SO2              0
O3               0
Benzene          0
Toluene          0
Xylene           0
AQI              0
AQI_Bucket    4681
dtype: int64

In [11]:
# Fill missing values in AQI_Bucket based on AQI ranges
def assign_aqi_bucket(aqi):
    if aqi <= 50:
        return 'Good'
    elif aqi <= 100:
        return 'Satisfactory'
    elif aqi <= 200:
        return 'Moderate'
    elif aqi <= 300:
        return 'Poor'
    elif aqi <= 400:
        return 'Very Poor'
    else:
        return 'Severe'

data['AQI_Bucket'] = data['AQI_Bucket'].fillna(data['AQI'].apply(assign_aqi_bucket))

# Verify if missing values are handled
print(data['AQI_Bucket'].isnull().sum())

0

In [12]:
data.isnull().sum()

City          0
Date          0
PM2.5         0
PM10          0
NO            0
NO2           0
NOx           0
NH3           0
CO            0
SO2           0
O3            0
Benzene       0
Toluene       0
Xylene        0
AQI           0
AQI_Bucket    0
dtype: int64

In [15]:
# Compile Yearly Data: Aggregate data into a yearly list
import numpy as np
def extract_yearly_data(df, start_year, end_year):
    yearly_data = {}
    for year in range(start_year, end_year + 1):
        # Filter data for the given year
        year_data = df[df['Year'] == year]
        # Select numeric columns only for aggregation
        numeric_data = year_data.select_dtypes(include=np.number)
        # Group by Month and calculate the mean
        yearly_data[year] = numeric_data.groupby(year_data['Month']).mean()
    return yearly_data

# Aggregate data for years 2013 to 2018
yearly_data = extract_yearly_data(data, 2013, 2018)

# Print yearly data summary
for year, df in yearly_data.items():
    print(f"\nYear: {year}")
    print(df)

Year: 2013
Empty DataFrame
Columns: [PM2.5, PM10, NO, NO2, NOx, NH3, CO, SO2, O3, Benzene, Toluene, Xylene, AQI, Year, Month, Day]
Index: []

Year: 2014
Empty DataFrame
Columns: [PM2.5, PM10, NO, NO2, NOx, NH3, CO, SO2, O3, Benzene, Toluene, Xylene, AQI, Year, Month, Day]
Index: []

Year: 2015
            PM2.5        PM10         NO        NO2        NOx        NH3  \
Month
1       83.414923  141.137242  17.628090  25.669955  27.136729  30.995190
2       86.008891  134.814609  15.436460  27.081182  29.873141  33.830575
3       84.592952  120.543876  13.485490  25.637240  33.409120  22.904613
4       67.304522  128.107707  13.232936  24.749859  27.727186  23.065796
5       63.601742  139.973323  13.334685  26.193781  28.229816  26.213876
6       60.628269  126.499923  10.741550  21.236749  25.834167  29.331173
7       47.626477  118.941175  10.538957  17.315771  29.637456  27.400761
8       50.264782  122.883110  13.135470  19.556897  36.199919  26.427213
9       55.355855  123.502122  13.545067  20.664466  29.416322  25.722194
10      90.162261  133.170287  21.551372  25.744491  43.665023  25.670179
11     122.889482  143.148176  27.749388  28.362848  56.061721  37.253203
12     118.030271  134.928513  27.567297  31.753501  51.396326  42.595255

             CO        SO2         O3    Benzene    Toluene    Xylene  \
Month
1      7.405835  27.422575  30.015962   4.861118   6.943623  2.474775
2      7.031954  21.480116  35.063302   4.639266   8.691742  3.432252
3      6.274602  17.741646  38.620948  11.166771  13.182119  2.897383
4      3.657075  17.506482  39.217728   3.115533   5.860956  2.700402
5      4.210777  15.214660  38.452568   3.810862   6.273571  2.932810
6      2.656208   9.797455  32.109845   4.228710   5.358779  2.238415
7      3.397903   9.439239  22.727523   2.506624   3.673790  2.071408
8      3.968427   9.580408  23.618405   4.303280   9.115893  1.658451
9      2.980232   8.509480  28.118161   1.878238   4.713435  1.745591
10     4.448192  11.523432  34.831342   3.295614   9.422548  2.511906
11     2.843955  11.096290  41.656289   3.528496   9.326515  2.332931
12     2.249686   9.898066  35.575740   2.499369   6.949094  2.270084

              AQI    Year  Month        Day
Month
1      194.511424  2015.0    1.0  16.196262
2      234.705572  2015.0    2.0  14.500000
3      219.263897  2015.0    3.0  16.000000
4      187.195271  2015.0    4.0  15.500000
5      189.238869  2015.0    5.0  16.000000
6      170.503395  2015.0    6.0  15.500000
7      153.970440  2015.0    7.0  16.000000
8      158.861863  2015.0    8.0  16.000000
9      165.434190  2015.0    9.0  15.500000
10     229.872571  2015.0   10.0  16.000000
11     235.780128  2015.0   11.0  15.713115
12     222.134422  2015.0   12.0  16.000000

Year: 2016
            PM2.5        PM10         NO        NO2        NOx        NH3  \
Month
1      129.410507  149.224223  27.714050  31.597451  45.166567  39.692123
2      102.581318  133.927609  19.462799  28.892054  33.979517  23.219079
3       90.905572  125.222313  16.225265  28.563840  27.806701  31.753786
4       76.307398  132.840978  15.645770  31.194820  27.438485  34.122144
5       69.092392  116.468780  11.948562  26.843267  25.605766  35.909185
6       67.317317  116.750651  11.169129  22.714442  23.468350  29.019085
7       47.827624  107.115497  13.181211  21.815010  31.023602  31.838238
8       45.003804  106.837654  13.354262  21.447177  29.321236  26.658097
9       45.958446  108.649919  14.863676  29.288874  28.758233  24.515055
10      92.572150  137.093860  26.201561  40.838676  35.871092  26.060982
11     140.212341  149.152166  29.591750  43.930856  31.679646  27.508997
12     130.547149  144.971833  27.191092  40.085847  33.074927  26.167408

             CO        SO2         O3   Benzene   Toluene    Xylene  \
Month
1      1.692139  11.151492  40.230461  3.486490  7.061266  2.308690
2      1.477213  10.455358  41.495594  4.836500  8.346352  2.311469
3      1.305289  10.169291  43.420395  1.882092  4.796133  2.308580
4      1.269543  11.438484  43.941286  2.319782  5.015146  2.257938
5      1.191955   9.598323  43.143513  1.988467  5.169451  2.139942
6      1.564085   8.219290  34.896604  2.057941  5.691057  2.159051
7      3.053374   7.954578  28.033521  1.959687  5.346880  2.290104
8      2.873904  10.626027  28.911798  2.457636  6.612934  2.590240
9      2.051591   9.742790  29.910024  1.963532  5.523532  2.986211
10     2.146604  13.786236  39.300327  2.395045  6.421932  3.152176
11     1.447757  14.247502  41.803834  2.695384  7.981731  2.878510
12     1.924793  14.393446  34.233540  3.002832  8.469367  2.640045

              AQI    Year  Month   Day
Month
1      243.751693  2016.0    1.0  16.0
2      211.804650  2016.0    2.0  15.0
3      186.660948  2016.0    3.0  16.0
4      182.329312  2016.0    4.0  15.5
5      164.242376  2016.0    5.0  16.0
6      157.123818  2016.0    6.0  15.5
7      150.320894  2016.0    7.0  16.0
8      143.478403  2016.0    8.0  16.0
9      142.837264  2016.0    9.0  15.5
10     207.268320  2016.0   10.0  16.0
11     244.809626  2016.0   11.0  15.5
12     236.933563  2016.0   12.0  16.0

Year: 2017
            PM2.5        PM10         NO        NO2        NOx        NH3  \
Month
1      118.169377  134.762953  24.674832  36.615553  32.300262  23.955647
2       94.850717  138.691531  23.450409  37.642972  31.442861  25.086433
3       73.211195  123.387883  18.680800  31.026253  30.355286  23.180323
4       78.093414  134.071932  16.371622  29.273918  23.891214  26.106435
5       85.592774  129.734227  15.574908  29.689981  22.484223  25.273321
6       64.487508  111.130039  15.043448  25.182633  21.168900  24.450419
7       61.237918   99.907796  14.713642  22.091535  20.651407  21.857453
8       50.317094  101.255054  12.448271  24.402739  20.648731  21.526710
9       50.507844  107.496661  12.496955  23.790559  20.966141  22.626723
10      80.205370  127.365000  17.646122  31.135786  28.640973  28.512614
11     112.434933  138.367128  25.047042  44.074506  43.414773  36.716004
12     105.478354  137.025773  18.773761  39.086168  33.828936  35.663039

             CO        SO2         O3   Benzene    Toluene    Xylene  \
Month
1      2.254500  10.615982  37.235226  2.139353   6.948521  2.274715
2      1.288429  11.734448  41.959707  1.753848   4.529955  2.000143
3      0.778251  10.962987  35.082057  1.434087   3.819733  2.080777
4      0.731918  14.038943  41.351069  1.616282   4.742474  2.221290
5      0.675619  14.894261  37.390339  1.680692   4.737435  2.262782
6      0.686885  10.824185  27.447785  1.423168   3.715029  2.233893
7      0.702773   9.673433  25.649560  1.284899   3.387864  2.323020
8      0.893363   9.796728  27.338233  1.401267   3.271259  3.254746
9      0.849035   9.707962  26.925178  1.246432   3.384157  3.423941
10     1.812422  11.645164  31.831699  1.743494   4.748748  2.669378
11     3.549251  19.540592  42.489973  3.868526  10.395055  4.906480
12     2.082728  19.199734  42.010291  3.520154   9.986582  3.608512

              AQI    Year  Month        Day
Month
1      225.027495  2017.0    1.0  16.000000
2      205.730803  2017.0    2.0  14.592199
3      169.342430  2017.0    3.0  16.000000
4      180.908141  2017.0    4.0  15.806452
5      173.086344  2017.0    5.0  16.000000
6      142.963291  2017.0    6.0  16.068878
7      124.765437  2017.0    7.0  16.000000
8      122.643714  2017.0    8.0  16.000000
9      126.078573  2017.0    9.0  15.500000
10     193.643378  2017.0   10.0  16.000000
11     252.702887  2017.0   11.0  15.688525
12     217.477680  2017.0   12.0  16.376494

Year: 2018
            PM2.5        PM10         NO        NO2        NOx        NH3  \
Month
1      102.964493  149.227379  20.231730  42.962269  41.341602  31.648177
2       86.828096  150.138627  21.807223  39.033872  46.090201  27.681274
3       73.903194  139.941803  16.448108  34.507419  38.790651  21.306782
4       57.334611  120.093407  14.542771  29.202391  31.228709  20.224272
5       57.459192  118.713295  12.302521  28.029128  27.033858  21.007938
6       54.101858  114.670087  11.561905  26.646022  25.853035  20.105776
7       35.406114   82.592119  11.898347  24.123523  24.544161  18.910267
8       38.714846   85.937814  13.407432  24.903211  26.461676  18.099524
9       46.565766   93.366753  15.620743  30.122945  31.691122  19.713587
10      73.743293  137.774797  25.784407  37.006087  43.919427  24.004966
11      96.775338  171.669066  30.201207  38.204814  50.450428  23.544656
12     107.766706  177.645335  30.765891  41.640288  53.713849  23.214921

             CO        SO2         O3   Benzene    Toluene    Xylene  \
Month
1      3.210760  21.792382  42.896048  3.570962  11.231134  3.376123
2      4.415211  23.048363  38.217104  2.808748   7.883007  3.026518
3      3.190664  23.610699  40.783193  2.410659   7.442507  2.740772
4      2.373058  18.354331  38.478190  2.136518   6.631018  2.650348
5      1.678053  17.388552  42.184788  3.021289   9.779564  4.208080
6      2.653191  15.146246  35.049556  2.124236  10.545841  4.182880
7      2.322358  14.383509  25.140010  1.798946  10.102259  3.494167
8      2.368870  14.809228  22.278505  1.781945  10.352300  3.710475
9      2.672390  12.928819  29.353823  2.423676  10.802348  3.805878
10     3.218233  15.590944  35.496144  3.542433  13.364785  4.598809
11     4.253700  17.822053  36.498056  3.914384  13.413212  4.478325
12     3.337723  19.302167  36.501605  4.161081  12.376385  4.282285

              AQI    Year  Month        Day
Month
1      237.701799  2018.0    1.0  16.000000
2      227.773026  2018.0    2.0  14.500000
3      200.988402  2018.0    3.0  16.000000
4      161.913634  2018.0    4.0  15.677966
5      151.084123  2018.0    5.0  16.000000
6      152.327300  2018.0    6.0  15.500000
7      105.927532  2018.0    7.0  16.000000
8      115.013779  2018.0    8.0  16.000000
9      127.748492  2018.0    9.0  15.500000
10     193.542631  2018.0   10.0  16.000000
11     257.030231  2018.0   11.0  15.500000
12     248.787142  2018.0   12.0  16.000000